
# /
/config.nice
/configure
/missing
/install-sh
/mkinstalldirs
/aclocal.m4
/.deps
/generated_lists
/buildmk.stamp
/config.log
/Makefile
/libtool
/shlibtool
/config.status
/modules.c
/config.cache
/.libs
/httpd
/httpd.exe
/modules.lo
/Debug
/Release
/LibD
/LibR
/Apache.suo
/Apache.ncb
/Apache.opt
/apachecore.dll
/*.x
/*.aps
/*.plg
/*.dep
/*.mak
/*.rc
/Apache.sln
/BuildLog.htm
/*.stc
/*.stt
/*.sto
/*.vcproj
/*.vcproj.*
/autom4te.cache
/httpd.spec
/tags
/TAGS
/*.kdev4
/.kdev_include_paths
/.cproject
/.project
/*.o

# /built/
/built/

# /cmake-build-debug/
/cmake-build-debug/

# /build/
/build/rules.mk
/build/config_vars.mk
/build/apr_common.m4
/build/find_apr.m4
/build/find_apu.m4
/build/ltconfig
/build/ltmain.sh
/build/PrintPath
/build/config.sub
/build/config.guess
/build/config_vars.sh

# /build/pkg/
/build/pkg/pkginfo

# /build/win32/
/build/win32/Apache.aps
/build/win32/Apache.rc
/build/win32/libhttpd.rc
/build/win32/libhttpd.aps
/build/win32/httpd.rc

# /docs/
/docs/dox

# /docs/conf/
/docs/conf/httpd-std.conf
/docs/conf/ssl-std.conf
/docs/conf/httpd.conf

# /docs/conf/extra/
/docs/conf/extra/*.conf

# /docs/log-message-tags/
/docs/log-message-tags/list

# /docs/manual/
/docs/manual/_chm
/docs/manual/_off
/docs/manual/_tools
/docs/manual/_dist
/docs/manual/build
/docs/manual/*.tex
/docs/manual/*.aux
/docs/manual/*.out
/docs/manual/*.log
/docs/manual/*.pdf
/docs/manual/*.toc
/docs/manual/.outdated*

# /docs/manual/developer/
/docs/manual/developer/*.tex
/docs/manual/developer/*.aux

# /docs/manual/faq/
/docs/manual/faq/*.tex
/docs/manual/faq/*.aux

# /docs/manual/howto/
/docs/manual/howto/*.aux
/docs/manual/howto/*.tex
/docs/manual/howto/Working-Copy.txt

# /docs/manual/misc/
/docs/manual/misc/*.tex
/docs/manual/misc/*.aux

# /docs/manual/mod/
/docs/manual/mod/*.tex
/docs/manual/mod/*.aux
/docs/manual/mod/.translated.*

# /docs/manual/platform/
/docs/manual/platform/*.tex
/docs/manual/platform/*.aux

# /docs/manual/programs/
/docs/manual/programs/*.tex
/docs/manual/programs/*.aux

# /docs/manual/rewrite/
/docs/manual/rewrite/_chm
/docs/manual/rewrite/_off
/docs/manual/rewrite/_tools
/docs/manual/rewrite/_dist
/docs/manual/rewrite/build
/docs/manual/rewrite/*.tex
/docs/manual/rewrite/*.aux
/docs/manual/rewrite/*.out
/docs/manual/rewrite/*.log
/docs/manual/rewrite/*.pdf
/docs/manual/rewrite/*.toc
/docs/manual/rewrite/.outdated*

# /docs/manual/ssl/
/docs/manual/ssl/*.tex
/docs/manual/ssl/*.aux

# /docs/manual/style/
/docs/manual/style/_generated

# /docs/manual/vhosts/
/docs/manual/vhosts/*.tex
/docs/manual/vhosts/*.aux

# /include/
/include/ap_config_auto.h
/include/ap_config_auto.h.in
/include/ap_config_layout.h
/include/ap_ldap.h
/include/mod_cgi.h
/include/mod_dav.h
/include/mod_include.h
/include/mod_proxy.h
/include/mod_so.h
/include/mpm.h
/include/mpm_default.h
/include/os.h

# /modules/
/modules/Makefile
/modules/.deps

# /modules/aaa/
/modules/aaa/*.o
/modules/aaa/.deps
/modules/aaa/.libs
/modules/aaa/*.la
/modules/aaa/modules.mk
/modules/aaa/Makefile
/modules/aaa/*.lo
/modules/aaa/*.slo
/modules/aaa/*.so
/modules/aaa/*.x
/modules/aaa/Debug
/modules/aaa/Release
/modules/aaa/*.plg
/modules/aaa/*.aps
/modules/aaa/*.dep
/modules/aaa/*.mak
/modules/aaa/*.rc
/modules/aaa/BuildLog.htm
/modules/aaa/*.stc
/modules/aaa/*.stt
/modules/aaa/*.sto
/modules/aaa/*.vcproj
/modules/aaa/*.vcproj.*
/modules/aaa/*.o

# /modules/apreq/
/modules/apreq/*.o
/modules/apreq/*.aps
/modules/apreq/*.dep
/modules/apreq/*.la
/modules/apreq/*.lo
/modules/apreq/*.mak
/modules/apreq/*.plg
/modules/apreq/*.rc
/modules/apreq/*.slo
/modules/apreq/*.so
/modules/apreq/*.stc
/modules/apreq/*.sto
/modules/apreq/*.stt
/modules/apreq/*.vcproj
/modules/apreq/*.vcproj.*
/modules/apreq/*.x
/modules/apreq/.deps
/modules/apreq/.libs
/modules/apreq/.libs
/modules/apreq/BuildLog.htm
/modules/apreq/Debug
/modules/apreq/Makefile
/modules/apreq/Makefile.in
/modules/apreq/Release
/modules/apreq/modules.mk
/modules/apreq/*.o

# /modules/arch/
/modules/arch/.deps
/modules/arch/.libs
/modules/arch/*.la
/modules/arch/modules.mk
/modules/arch/Makefile
/modules/arch/*.lo
/modules/arch/*.slo
/modules/arch/*.so
/modules/arch/*.x
/modules/arch/Debug
/modules/arch/Release
/modules/arch/*.plg
/modules/arch/*.aps
/modules/arch/*.dep
/modules/arch/*.mak
/modules/arch/*.rc
/modules/arch/BuildLog.htm
/modules/arch/*.stc
/modules/arch/*.stt
/modules/arch/*.sto
/modules/arch/*.vcproj
/modules/arch/*.vcproj.*
/modules/arch/*.o

# /modules/arch/unix/
/modules/arch/unix/*.o
/modules/arch/unix/.deps
/modules/arch/unix/.libs
/modules/arch/unix/*.la
/modules/arch/unix/modules.mk
/modules/arch/unix/Makefile
/modules/arch/unix/*.lo
/modules/arch/unix/*.slo
/modules/arch/unix/*.so
/modules/arch/unix/*.x
/modules/arch/unix/Debug
/modules/arch/unix/Release
/modules/arch/unix/*.plg
/modules/arch/unix/*.aps
/modules/arch/unix/*.dep
/modules/arch/unix/*.mak
/modules/arch/unix/*.rc
/modules/arch/unix/BuildLog.htm
/modules/arch/unix/*.stc
/modules/arch/unix/*.stt
/modules/arch/unix/*.sto
/modules/arch/unix/*.vcproj
/modules/arch/unix/*.vcproj.*

# /modules/arch/win32/
/modules/arch/win32/.deps
/modules/arch/win32/.libs
/modules/arch/win32/*.la
/modules/arch/win32/modules.mk
/modules/arch/win32/Makefile
/modules/arch/win32/*.lo
/modules/arch/win32/*.slo
/modules/arch/win32/*.so
/modules/arch/win32/Debug
/modules/arch/win32/Release
/modules/arch/win32/*.plg
/modules/arch/win32/*.aps
/modules/arch/win32/*.dep
/modules/arch/win32/*.mak
/modules/arch/win32/*.rc
/modules/arch/win32/BuildLog.htm
/modules/arch/win32/*.stc
/modules/arch/win32/*.stt
/modules/arch/win32/*.sto
/modules/arch/win32/*.vcproj
/modules/arch/win32/*.vcproj.*

# /modules/cache/
/modules/cache/.deps
/modules/cache/.libs
/modules/cache/*.la
/modules/cache/modules.mk
/modules/cache/Makefile
/modules/cache/*.lo
/modules/cache/*.slo
/modules/cache/*.so
/modules/cache/*.x
/modules/cache/Debug
/modules/cache/Release
/modules/cache/*.plg
/modules/cache/*.aps
/modules/cache/*.dep
/modules/cache/*.mak
/modules/cache/*.rc
/modules/cache/BuildLog.htm
/modules/cache/*.stc
/modules/cache/*.stt
/modules/cache/*.sto
/modules/cache/*.vcproj
/modules/cache/*.vcproj.*
/modules/cache/*.o

# /modules/cluster/
/modules/cluster/.deps
/modules/cluster/.libs
/modules/cluster/*.la
/modules/cluster/modules.mk
/modules/cluster/Makefile
/modules/cluster/*.lo
/modules/cluster/*.slo
/modules/cluster/*.so
/modules/cluster/*.x
/modules/cluster/Debug
/modules/cluster/Release
/modules/cluster/*.plg
/modules/cluster/*.aps
/modules/cluster/*.dep
/modules/cluster/*.mak
/modules/cluster/*.rc
/modules/cluster/BuildLog.htm
/modules/cluster/*.stc
/modules/cluster/*.stt
/modules/cluster/*.sto
/modules/cluster/*.vcproj
/modules/cluster/*.vcproj.*
/modules/cluster/*.o

# /modules/core/
/modules/core/.deps
/modules/core/.libs
/modules/core/*.la
/modules/core/modules.mk
/modules/core/Makefile
/modules/core/*.lo
/modules/core/*.slo
/modules/core/*.so
/modules/core/*.x
/modules/core/Debug
/modules/core/Release
/modules/core/*.plg
/modules/core/*.aps
/modules/core/*.dep
/modules/core/*.mak
/modules/core/*.rc
/modules/core/BuildLog.htm
/modules/core/*.stc
/modules/core/*.stt
/modules/core/*.sto
/modules/core/*.vcproj
/modules/core/*.vcproj.*
/modules/core/*.o

# /modules/core/test/
/modules/core/test/out

# /modules/database/
/modules/database/.deps
/modules/database/.libs
/modules/database/*.la
/modules/database/modules.mk
/modules/database/Makefile
/modules/database/*.lo
/modules/database/*.slo
/modules/database/*.so
/modules/database/*.x
/modules/database/Debug
/modules/database/Release
/modules/database/*.plg
/modules/database/*.aps
/modules/database/*.dep
/modules/database/*.mak
/modules/database/*.rc
/modules/database/BuildLog.htm
/modules/database/*.stc
/modules/database/*.stt
/modules/database/*.sto
/modules/database/*.vcproj
/modules/database/*.vcproj.*
/modules/database/*.o

# /modules/dav/
/modules/dav/.deps
/modules/dav/.libs
/modules/dav/*.la
/modules/dav/modules.mk
/modules/dav/Makefile
/modules/dav/*.lo
/modules/dav/*.slo
/modules/dav/*.so
/modules/dav/*.x
/modules/dav/Debug
/modules/dav/Release
/modules/dav/*.plg
/modules/dav/*.aps
/modules/dav/*.dep
/modules/dav/*.mak
/modules/dav/*.rc
/modules/dav/BuildLog.htm
/modules/dav/*.stc
/modules/dav/*.stt
/modules/dav/*.sto
/modules/dav/*.vcproj
/modules/dav/*.vcproj.*

# /modules/dav/fs/
/modules/dav/fs/.deps
/modules/dav/fs/.libs
/modules/dav/fs/*.la
/modules/dav/fs/modules.mk
/modules/dav/fs/Makefile
/modules/dav/fs/*.lo
/modules/dav/fs/*.slo
/modules/dav/fs/*.so
/modules/dav/fs/Debug
/modules/dav/fs/Release
/modules/dav/fs/*.plg
/modules/dav/fs/*.aps
/modules/dav/fs/*.dep
/modules/dav/fs/*.mak
/modules/dav/fs/*.rc
/modules/dav/fs/BuildLog.htm
/modules/dav/fs/*.stc
/modules/dav/fs/*.stt
/modules/dav/fs/*.sto
/modules/dav/fs/*.vcproj
/modules/dav/fs/*.vcproj.*
/modules/dav/fs/*.o

# /modules/dav/lock/
/modules/dav/lock/.deps
/modules/dav/lock/.libs
/modules/dav/lock/*.la
/modules/dav/lock/modules.mk
/modules/dav/lock/Makefile
/modules/dav/lock/*.lo
/modules/dav/lock/*.slo
/modules/dav/lock/*.so
/modules/dav/lock/Debug
/modules/dav/lock/Release
/modules/dav/lock/*.plg
/modules/dav/lock/*.aps
/modules/dav/lock/*.dep
/modules/dav/lock/*.mak
/modules/dav/lock/*.rc
/modules/dav/lock/BuildLog.htm
/modules/dav/lock/*.stc
/modules/dav/lock/*.stt
/modules/dav/lock/*.sto
/modules/dav/lock/*.vcproj
/modules/dav/lock/*.vcproj.*
/modules/dav/lock/*.o

# /modules/dav/main/
/modules/dav/main/.deps
/modules/dav/main/.libs
/modules/dav/main/*.la
/modules/dav/main/modules.mk
/modules/dav/main/Makefile
/modules/dav/main/*.lo
/modules/dav/main/*.slo
/modules/dav/main/*.so
/modules/dav/main/Debug
/modules/dav/main/Release
/modules/dav/main/*.plg
/modules/dav/main/*.aps
/modules/dav/main/*.dep
/modules/dav/main/*.mak
/modules/dav/main/*.rc
/modules/dav/main/BuildLog.htm
/modules/dav/main/*.stc
/modules/dav/main/*.stt
/modules/dav/main/*.sto
/modules/dav/main/*.vcproj
/modules/dav/main/*.vcproj.*
/modules/dav/main/*.o

# /modules/debugging/
/modules/debugging/.deps
/modules/debugging/.libs
/modules/debugging/*.la
/modules/debugging/modules.mk
/modules/debugging/Makefile
/modules/debugging/*.lo
/modules/debugging/*.slo
/modules/debugging/*.so
/modules/debugging/*.x
/modules/debugging/Debug
/modules/debugging/Release
/modules/debugging/*.plg
/modules/debugging/*.aps
/modules/debugging/*.dep
/modules/debugging/*.mak
/modules/debugging/*.rc
/modules/debugging/BuildLog.htm
/modules/debugging/*.stc
/modules/debugging/*.stt
/modules/debugging/*.sto
/modules/debugging/*.vcproj
/modules/debugging/*.vcproj.*
/modules/debugging/*.o

# /modules/echo/
/modules/echo/.deps
/modules/echo/.libs
/modules/echo/*.la
/modules/echo/modules.mk
/modules/echo/Makefile
/modules/echo/*.lo
/modules/echo/*.slo
/modules/echo/*.so
/modules/echo/*.x
/modules/echo/Debug
/modules/echo/Release
/modules/echo/*.plg
/modules/echo/*.aps
/modules/echo/*.dep
/modules/echo/*.mak
/modules/echo/*.rc
/modules/echo/BuildLog.htm
/modules/echo/*.stc
/modules/echo/*.stt
/modules/echo/*.sto
/modules/echo/*.vcproj
/modules/echo/*.vcproj.*
/modules/echo/*.o

# /modules/examples/
/modules/examples/.deps
/modules/examples/.libs
/modules/examples/*.la
/modules/examples/modules.mk
/modules/examples/Makefile
/modules/examples/*.lo
/modules/examples/*.slo
/modules/examples/*.so
/modules/examples/*.x
/modules/examples/Debug
/modules/examples/Release
/modules/examples/*.plg
/modules/examples/*.aps
/modules/examples/*.dep
/modules/examples/*.mak
/modules/examples/*.rc
/modules/examples/BuildLog.htm
/modules/examples/*.stc
/modules/examples/*.stt
/modules/examples/*.sto
/modules/examples/*.vcproj
/modules/examples/*.vcproj.*

# /modules/experimental/
/modules/experimental/.deps
/modules/experimental/.libs
/modules/experimental/*.la
/modules/experimental/modules.mk
/modules/experimental/Makefile
/modules/experimental/*.lo
/modules/experimental/*.slo
/modules/experimental/*.so
/modules/experimental/*.x
/modules/experimental/Debug
/modules/experimental/Release
/modules/experimental/*.plg
/modules/experimental/*.aps
/modules/experimental/*.dep
/modules/experimental/*.mak
/modules/experimental/*.rc
/modules/experimental/BuildLog.htm
/modules/experimental/*.stc
/modules/experimental/*.stt
/modules/experimental/*.sto
/modules/experimental/*.vcproj
/modules/experimental/*.vcproj.*

# /modules/filters/
/modules/filters/.deps
/modules/filters/.libs
/modules/filters/*.la
/modules/filters/modules.mk
/modules/filters/Makefile
/modules/filters/*.lo
/modules/filters/*.slo
/modules/filters/*.so
/modules/filters/*.x
/modules/filters/Debug
/modules/filters/Release
/modules/filters/*.plg
/modules/filters/*.aps
/modules/filters/*.dep
/modules/filters/*.mak
/modules/filters/*.rc
/modules/filters/BuildLog.htm
/modules/filters/*.stc
/modules/filters/*.stt
/modules/filters/*.sto
/modules/filters/*.vcproj
/modules/filters/*.vcproj.*
/modules/filters/*.o

# /modules/generators/
/modules/generators/.deps
/modules/generators/.libs
/modules/generators/*.la
/modules/generators/modules.mk
/modules/generators/Makefile
/modules/generators/*.lo
/modules/generators/*.slo
/modules/generators/*.so
/modules/generators/*.x
/modules/generators/Debug
/modules/generators/Release
/modules/generators/*.plg
/modules/generators/*.aps
/modules/generators/*.dep
/modules/generators/*.mak
/modules/generators/*.rc
/modules/generators/BuildLog.htm
/modules/generators/*.stc
/modules/generators/*.stt
/modules/generators/*.sto
/modules/generators/*.vcproj
/modules/generators/*.vcproj.*
/modules/generators/*.o

# /modules/http/
/modules/http/.deps
/modules/http/.libs
/modules/http/*.la
/modules/http/modules.mk
/modules/http/Makefile
/modules/http/*.lo
/modules/http/*.slo
/modules/http/*.so
/modules/http/*.x
/modules/http/Debug
/modules/http/Release
/modules/http/*.plg
/modules/http/*.aps
/modules/http/*.dep
/modules/http/*.mak
/modules/http/*.rc
/modules/http/BuildLog.htm
/modules/http/*.stc
/modules/http/*.stt
/modules/http/*.sto
/modules/http/*.vcproj
/modules/http/*.vcproj.*
/modules/http/*.o

# /modules/http2/
/modules/http2/.deps
/modules/http2/.libs
/modules/http2/*.la
/modules/http2/modules.mk
/modules/http2/Makefile
/modules/http2/*.lo
/modules/http2/*.slo
/modules/http2/*.so
/modules/http2/*.x
/modules/http2/Debug
/modules/http2/Release
/modules/http2/*.plg
/modules/http2/*.aps
/modules/http2/*.dep
/modules/http2/*.mak
/modules/http2/*.rc
/modules/http2/BuildLog.htm
/modules/http2/*.stc
/modules/http2/*.stt
/modules/http2/*.sto
/modules/http2/*.vcproj
/modules/http2/*.vcproj.*
/modules/http2/*.o

# /modules/ldap/
/modules/ldap/.deps
/modules/ldap/.libs
/modules/ldap/*.la
/modules/ldap/modules.mk
/modules/ldap/Makefile
/modules/ldap/*.lo
/modules/ldap/*.slo
/modules/ldap/*.so
/modules/ldap/*.x
/modules/ldap/Debug
/modules/ldap/Release
/modules/ldap/*.plg
/modules/ldap/*.aps
/modules/ldap/*.dep
/modules/ldap/*.mak
/modules/ldap/*.rc
/modules/ldap/BuildLog.htm
/modules/ldap/*.stc
/modules/ldap/*.stt
/modules/ldap/*.sto
/modules/ldap/*.vcproj
/modules/ldap/*.vcproj.*

# /modules/loggers/
/modules/loggers/.deps
/modules/loggers/.libs
/modules/loggers/*.la
/modules/loggers/modules.mk
/modules/loggers/Makefile
/modules/loggers/*.lo
/modules/loggers/*.slo
/modules/loggers/*.so
/modules/loggers/*.x
/modules/loggers/Debug
/modules/loggers/Release
/modules/loggers/*.plg
/modules/loggers/*.aps
/modules/loggers/*.dep
/modules/loggers/*.mak
/modules/loggers/*.rc
/modules/loggers/BuildLog.htm
/modules/loggers/*.stc
/modules/loggers/*.stt
/modules/loggers/*.sto
/modules/loggers/*.vcproj
/modules/loggers/*.vcproj.*
/modules/loggers/*.o

# /modules/lua/
/modules/lua/.deps
/modules/lua/.libs
/modules/lua/*.la
/modules/lua/modules.mk
/modules/lua/Makefile
/modules/lua/*.lo
/modules/lua/*.slo
/modules/lua/*.so
/modules/lua/*.x
/modules/lua/Debug
/modules/lua/Release
/modules/lua/*.plg
/modules/lua/*.aps
/modules/lua/*.dep
/modules/lua/*.mak
/modules/lua/*.rc
/modules/lua/BuildLog.htm
/modules/lua/*.stc
/modules/lua/*.stt
/modules/lua/*.sto
/modules/lua/*.vcproj
/modules/lua/*.vcproj.*
/modules/lua/*.o

# /modules/lua/test/
/modules/lua/test/cycle
/modules/lua/test/httpd.conf

# /modules/mappers/
/modules/mappers/.deps
/modules/mappers/.libs
/modules/mappers/*.la
/modules/mappers/modules.mk
/modules/mappers/Makefile
/modules/mappers/*.lo
/modules/mappers/*.slo
/modules/mappers/*.so
/modules/mappers/*.x
/modules/mappers/Debug
/modules/mappers/Release
/modules/mappers/*.plg
/modules/mappers/*.aps
/modules/mappers/*.dep
/modules/mappers/*.mak
/modules/mappers/*.rc
/modules/mappers/BuildLog.htm
/modules/mappers/*.stc
/modules/mappers/*.stt
/modules/mappers/*.sto
/modules/mappers/*.vcproj
/modules/mappers/*.vcproj.*
/modules/mappers/*.o

# /modules/md/
/modules/md/.deps
/modules/md/.libs
/modules/md/*.la
/modules/md/modules.mk
/modules/md/Makefile
/modules/md/*.lo
/modules/md/*.slo
/modules/md/*.so
/modules/md/*.x
/modules/md/Debug
/modules/md/Release
/modules/md/*.plg
/modules/md/*.aps
/modules/md/*.dep
/modules/md/*.mak
/modules/md/*.rc
/modules/md/BuildLog.htm
/modules/md/*.stc
/modules/md/*.stt
/modules/md/*.sto
/modules/md/*.vcproj
/modules/md/*.vcproj.*
/modules/md/a2md

# /modules/metadata/
/modules/metadata/.deps
/modules/metadata/.libs
/modules/metadata/*.la
/modules/metadata/modules.mk
/modules/metadata/Makefile
/modules/metadata/*.lo
/modules/metadata/*.slo
/modules/metadata/*.so
/modules/metadata/*.x
/modules/metadata/Debug
/modules/metadata/Release
/modules/metadata/*.plg
/modules/metadata/*.aps
/modules/metadata/*.dep
/modules/metadata/*.mak
/modules/metadata/*.rc
/modules/metadata/BuildLog.htm
/modules/metadata/*.stc
/modules/metadata/*.stt
/modules/metadata/*.sto
/modules/metadata/*.vcproj
/modules/metadata/*.vcproj.*
/modules/metadata/*.o

# /modules/proxy/
/modules/proxy/.deps
/modules/proxy/.libs
/modules/proxy/*.la
/modules/proxy/modules.mk
/modules/proxy/Makefile
/modules/proxy/*.lo
/modules/proxy/*.slo
/modules/proxy/*.so
/modules/proxy/*.x
/modules/proxy/Debug
/modules/proxy/Release
/modules/proxy/*.plg
/modules/proxy/*.aps
/modules/proxy/*.dep
/modules/proxy/*.mak
/modules/proxy/*.rc
/modules/proxy/BuildLog.htm
/modules/proxy/*.stc
/modules/proxy/*.stt
/modules/proxy/*.sto
/modules/proxy/*.vcproj
/modules/proxy/*.vcproj.*
/modules/proxy/*.o

# /modules/proxy/balancers/
/modules/proxy/balancers/Debug
/modules/proxy/balancers/Release
/modules/proxy/balancers/Makefile
/modules/proxy/balancers/*.lo
/modules/proxy/balancers/*.plg
/modules/proxy/balancers/*.slo
/modules/proxy/balancers/*.la
/modules/proxy/balancers/*.so
/modules/proxy/balancers/*.rc
/modules/proxy/balancers/modules.mk
/modules/proxy/balancers/.deps
/modules/proxy/balancers/.libs
/modules/proxy/balancers/*.mak
/modules/proxy/balancers/*.dep
/modules/proxy/balancers/BuildLog.htm
/modules/proxy/balancers/*.stc
/modules/proxy/balancers/*.stt
/modules/proxy/balancers/*.sto
/modules/proxy/balancers/*.vcproj
/modules/proxy/balancers/*.vcproj.*
/modules/proxy/balancers/*.x
/modules/proxy/balancers/*.o

# /modules/proxy/examples/
/modules/proxy/examples/Debug
/modules/proxy/examples/Release
/modules/proxy/examples/Makefile
/modules/proxy/examples/*.lo
/modules/proxy/examples/*.plg
/modules/proxy/examples/*.slo
/modules/proxy/examples/*.la
/modules/proxy/examples/*.so
/modules/proxy/examples/*.rc
/modules/proxy/examples/modules.mk
/modules/proxy/examples/.deps
/modules/proxy/examples/.libs
/modules/proxy/examples/*.mak
/modules/proxy/examples/*.dep
/modules/proxy/examples/BuildLog.htm
/modules/proxy/examples/*.stc
/modules/proxy/examples/*.stt
/modules/proxy/examples/*.sto
/modules/proxy/examples/*.vcproj
/modules/proxy/examples/*.vcproj.*
/modules/proxy/examples/*.x

# /modules/session/
/modules/session/.deps
/modules/session/.libs
/modules/session/*.la
/modules/session/modules.mk
/modules/session/Makefile
/modules/session/*.lo
/modules/session/*.slo
/modules/session/*.so
/modules/session/*.x
/modules/session/Debug
/modules/session/Release
/modules/session/*.plg
/modules/session/*.aps
/modules/session/*.dep
/modules/session/*.mak
/modules/session/*.rc
/modules/session/BuildLog.htm
/modules/session/*.stc
/modules/session/*.stt
/modules/session/*.sto
/modules/session/*.vcproj
/modules/session/*.vcproj.*
/modules/session/*.o

# /modules/slotmem/
/modules/slotmem/.deps
/modules/slotmem/.libs
/modules/slotmem/*.la
/modules/slotmem/modules.mk
/modules/slotmem/Makefile
/modules/slotmem/*.lo
/modules/slotmem/*.slo
/modules/slotmem/*.so
/modules/slotmem/*.x
/modules/slotmem/Debug
/modules/slotmem/Release
/modules/slotmem/*.plg
/modules/slotmem/*.aps
/modules/slotmem/*.dep
/modules/slotmem/*.mak
/modules/slotmem/*.rc
/modules/slotmem/BuildLog.htm
/modules/slotmem/*.stc
/modules/slotmem/*.stt
/modules/slotmem/*.sto
/modules/slotmem/*.vcproj
/modules/slotmem/*.vcproj.*
/modules/slotmem/*.o

# /modules/ssl/
/modules/ssl/.deps
/modules/ssl/.libs
/modules/ssl/*.la
/modules/ssl/modules.mk
/modules/ssl/Makefile
/modules/ssl/*.lo
/modules/ssl/*.slo
/modules/ssl/*.so
/modules/ssl/*.x
/modules/ssl/Debug
/modules/ssl/Release
/modules/ssl/*.plg
/modules/ssl/*.aps
/modules/ssl/*.dep
/modules/ssl/*.mak
/modules/ssl/*.rc
/modules/ssl/BuildLog.htm
/modules/ssl/*.stc
/modules/ssl/*.stt
/modules/ssl/*.sto
/modules/ssl/*.vcproj
/modules/ssl/*.vcproj.*

# /modules/test/
/modules/test/.deps
/modules/test/.libs
/modules/test/*.la
/modules/test/modules.mk
/modules/test/Makefile
/modules/test/*.lo
/modules/test/*.slo
/modules/test/*.so
/modules/test/*.x
/modules/test/Debug
/modules/test/Release
/modules/test/*.plg
/modules/test/*.aps
/modules/test/*.dep
/modules/test/*.mak
/modules/test/*.rc
/modules/test/BuildLog.htm
/modules/test/*.stc
/modules/test/*.stt
/modules/test/*.sto
/modules/test/*.vcproj
/modules/test/*.vcproj.*
/modules/test/*.o

# /os/
/os/Makefile
/os/.deps

# /os/bs2000/
/os/bs2000/Makefile
/os/bs2000/.deps

# /os/os2/
/os/os2/Makefile
/os/os2/.deps
/os/os2/*.lo
/os/os2/*.la
/os/os2/.libs

# /os/unix/
/os/unix/Makefile
/os/unix/.deps
/os/unix/.libs
/os/unix/*.lo
/os/unix/*.la
/os/unix/*.o

# /os/win32/
/os/win32/*.mdp
/os/win32/*.ncb
/os/win32/*.opt
/os/win32/*.plg
/os/win32/*.dsw
/os/win32/*.mak
/os/win32/mod_*D
/os/win32/mod_*R
/os/win32/.deps
/os/win32/.libs
/os/win32/Makefile

# /server/
/server/Makefile
/server/.deps
/server/.libs
/server/*.lo
/server/*.la
/server/test_char.h
/server/gen_test_char
/server/gen_test_char.exe
/server/gen_test_char.exe.manifest
/server/export_files
/server/exports.c
/server/export_vars.h
/server/Debug
/server/Release
/server/ApacheCoreOS2.def
/server/httpd.exp
/server/*.plg
/server/*.dep
/server/*.mak
/server/BuildLog.htm
/server/*.stc
/server/*.stt
/server/*.sto
/server/*.vcproj
/server/*.vcproj.*
/server/buildmarked.c
/server/*.o

# /server/mpm/
/server/mpm/Makefile
/server/mpm/.deps

# /server/mpm/event/
/server/mpm/event/.deps
/server/mpm/event/.libs
/server/mpm/event/modules.mk
/server/mpm/event/*.slo
/server/mpm/event/*.lo
/server/mpm/event/*.la
/server/mpm/event/Makefile
/server/mpm/event/*.o

# /server/mpm/motorz/
/server/mpm/motorz/.deps
/server/mpm/motorz/.libs
/server/mpm/motorz/modules.mk
/server/mpm/motorz/*.slo
/server/mpm/motorz/*.lo
/server/mpm/motorz/*.la
/server/mpm/motorz/Makefile

# /server/mpm/mpmt_os2/
/server/mpm/mpmt_os2/*.lo
/server/mpm/mpmt_os2/*.la
/server/mpm/mpmt_os2/Makefile
/server/mpm/mpmt_os2/modules.mk
/server/mpm/mpmt_os2/.deps
/server/mpm/mpmt_os2/.libs

# /server/mpm/prefork/
/server/mpm/prefork/.deps
/server/mpm/prefork/.libs
/server/mpm/prefork/modules.mk
/server/mpm/prefork/*.slo
/server/mpm/prefork/*.lo
/server/mpm/prefork/*.la
/server/mpm/prefork/Makefile

# /server/mpm/simple/
/server/mpm/simple/.deps
/server/mpm/simple/.libs
/server/mpm/simple/modules.mk
/server/mpm/simple/*.slo
/server/mpm/simple/*.lo
/server/mpm/simple/*.la
/server/mpm/simple/Makefile

# /server/mpm/winnt/
/server/mpm/winnt/.deps
/server/mpm/winnt/.libs
/server/mpm/winnt/modules.mk
/server/mpm/winnt/Makefile

# /server/mpm/worker/
/server/mpm/worker/.deps
/server/mpm/worker/.libs
/server/mpm/worker/modules.mk
/server/mpm/worker/*.slo
/server/mpm/worker/*.lo
/server/mpm/worker/*.la
/server/mpm/worker/Makefile

# /srclib/
/srclib/Makefile
/srclib/pth
/srclib/.deps
/srclib/apr
/srclib/apr-util
/srclib/apr-iconv
/srclib/distcache
/srclib/lua
/srclib/pcre
/srclib/openssl
/srclib/zlib

# /support/
/support/.libs
/support/*.lo
/support/.deps
/support/Makefile
/support/*.mak
/support/rotatelogs
/support/htpasswd
/support/htdbm
/support/htdigest
/support/htcacheclean
/support/unescape
/support/inc2shtml
/support/httpd_monitor
/support/suexec
/support/logresolve
/support/ab
/support/apxs
/support/Debug
/support/Release
/support/apachectl
/support/checkgid
/support/dbmmanage
/support/envvars-std
/support/log_server_status
/support/logresolve.pl
/support/split-logfile
/support/phf_abuse_log.cgi
/support/*.plg
/support/*.aps
/support/*.dep
/support/*.mak
/support/*.rc
/support/BuildLog.htm
/support/*.stc
/support/*.stt
/support/*.sto
/support/*.vcproj
/support/*.vcproj.*
/support/httxt2dbm
/support/fcgistarter
/support/*.exe
/support/firehose
/support/*.o

# /support/win32/
/support/win32/Release
/support/win32/Debug
/support/win32/ApacheMonitorVer.rc
/support/win32/wintty.rc
/support/win32/*.plg
/support/win32/*.aps
/support/win32/*.dep
/support/win32/*.mak
/support/win32/BuildLog.htm
/support/win32/*.stc
/support/win32/*.stt
/support/win32/*.sto
/support/win32/*.vcproj
/support/win32/*.vcproj.*

# /test/
/test/a.out
/test/time-FCNTL
/test/time-FLOCK
/test/time-SYSVSEM
/test/time-SYSVSEM2
/test/time-PTHREAD
/test/time-USLOCK
/test/zb
/test/test-writev
/test/test_date
/test/test_select
/test/.libs
/test/.deps
/test/*.lo
/test/Makefile
/test/dbu
/test/sni
/test/httpdunit.o
/test/httpdunit
/test/httpdunit.cases
/test/*.o

# /test/unit/
/test/unit/*.tests
/test/unit/*.o
/test/unit/*.lo

# Intellij
/.idea/


