dn: cn=someuser
cn: someuser
sn: someuser
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
uid: someuser
userpassword: {SHA}GvF+c3IdvgxAARuC7Uuxp9vjzik=

dn: cn=anotheruser
cn: anotheruser
sn: anotheruser
objectclass: top
objectclass: person
objectclass: organizationalPerson
objectclass: inetOrgPerson
uid: anotheruser
userpassword: {crypt}eFnp.4sz5XnH6
