LoadModule log_config_module    "${libexec_dir}/mod_log_config.so"
LoadModule logio_module         "${libexec_dir}/mod_logio.so"
LoadModule unixd_module         "${libexec_dir}/mod_unixd.so"
LoadModule version_module       "${libexec_dir}/mod_version.so"
LoadModule watchdog_module      "${libexec_dir}/mod_watchdog.so"
LoadModule authn_core_module    "${libexec_dir}/mod_authn_core.so"
LoadModule authz_host_module    "${libexec_dir}/mod_authz_host.so"
LoadModule authz_groupfile_module "${libexec_dir}/mod_authz_groupfile.so"
LoadModule authz_user_module    "${libexec_dir}/mod_authz_user.so"
LoadModule authz_core_module    "${libexec_dir}/mod_authz_core.so"
LoadModule access_compat_module "${libexec_dir}/mod_access_compat.so"
LoadModule auth_basic_module    "${libexec_dir}/mod_auth_basic.so"
LoadModule cache_module         "${libexec_dir}/mod_cache.so"
LoadModule cache_disk_module    "${libexec_dir}/mod_cache_disk.so"
LoadModule cache_socache_module "${libexec_dir}/mod_cache_socache.so"
LoadModule socache_shmcb_module "${libexec_dir}/mod_socache_shmcb.so"
LoadModule dumpio_module        "${libexec_dir}/mod_dumpio.so"
LoadModule reqtimeout_module    "${libexec_dir}/mod_reqtimeout.so"
LoadModule filter_module        "${libexec_dir}/mod_filter.so"
LoadModule mime_module          "${libexec_dir}/mod_mime.so"
LoadModule env_module           "${libexec_dir}/mod_env.so"
LoadModule headers_module       "${libexec_dir}/mod_headers.so"
LoadModule setenvif_module      "${libexec_dir}/mod_setenvif.so"
LoadModule slotmem_shm_module   "${libexec_dir}/mod_slotmem_shm.so"
LoadModule ssl_module           "${libexec_dir}/mod_ssl.so"
LoadModule status_module        "${libexec_dir}/mod_status.so"
LoadModule autoindex_module     "${libexec_dir}/mod_autoindex.so"
LoadModule cgid_module          "${libexec_dir}/mod_cgid.so"
LoadModule dir_module           "${libexec_dir}/mod_dir.so"
LoadModule alias_module         "${libexec_dir}/mod_alias.so"
LoadModule rewrite_module       "${libexec_dir}/mod_rewrite.so"
LoadModule deflate_module       "${libexec_dir}/mod_deflate.so"
LoadModule proxy_module         "${libexec_dir}/mod_proxy.so"
LoadModule proxy_http_module    "${libexec_dir}/mod_proxy_http.so"
LoadModule proxy_balancer_module "${libexec_dir}/mod_proxy_balancer.so"
LoadModule proxy_hcheck_module  "${libexec_dir}/mod_proxy_hcheck.so"

LoadModule http2_module         "${libexec_dir}/mod_http2.so"
LoadModule proxy_http2_module   "${libexec_dir}/mod_proxy_http2.so"

# Load the local test module also into the server
LoadModule h2test_module        "${test_dir}/mod_h2test/.libs/mod_h2test.so"

