body {background: white;
      text: black; }

.help { font-weight: bold }

.directive { color: green; }

.module { color: green; }

a:link { text-decoration: none }
a:hover { text-decoration: underline }
a:visited { text-decoration: none }
