#include "apachemonitor.h"
#include <windows.h>
IDI_APSRVMON            ICON    DISCARDABLE     "ApacheMonitor.ico"
IDI_ICOSTOP             ICON    DISCARDABLE     "apstop.ico"
IDI_ICORUN              ICON    DISCARDABLE     "aprun.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,1,1
 PRODUCTVERSION 1,0,1,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Contributed by Mladen Turk <mturk@mappingsoft.com>\0"
            VALUE "CompanyName", "Apache Software Foundation.\0"
            VALUE "FileDescription", "Apache service monitor\0"
            VALUE "FileVersion", "1.1\0"
            VALUE "InternalName", "apsrvmon\0"
            VALUE "LegalCopyright", "Copyright © 2001 The Apache Software Foundation.\0"
            VALUE "LegalTrademarks", "This software consists of voluntary contributions made by many individuals on behalf of the Apache Software Foundation.  For more information on the Apache Software Foundation, please see <http://www.apache.org/>\0"
            VALUE "OriginalFilename", "apsrvmon.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Apache service monitor\0"
            VALUE "ProductVersion", "1.1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

IDD_DLGSERVICES DIALOGEX 0, 0, 350, 174
STYLE DS_MODALFRAME | DS_SETFOREGROUND | WS_MINIMIZEBOX | WS_VISIBLE | 
    WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Apache service monitor"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,298,49,50,14
    LISTBOX         IDL_SERVICES,2,49,285,73,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | 
                    LBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDL_STDOUT,2,124,285,37,LBS_NOINTEGRALHEIGHT | 
                    LBS_DISABLENOSCROLL | LBS_NOSEL | WS_VSCROLL
    LTEXT           "Service Status :",IDC_SSTATUS,3,40,272,8
    PUSHBUTTON      "&Start",IDC_SSTART,298,75,50,14
    PUSHBUTTON      "S&top",IDC_SSTOP,298,91,50,14
    PUSHBUTTON      "&Restart",IDC_SRESTART,298,107,50,14
    PUSHBUTTON      "&Exit",IDC_SEXIT,298,147,50,14
    CONTROL         113,IDC_STATIC,"Static",SS_BITMAP,0,0,349,38
END

IDB_BMPSTOP             BITMAP  DISCARDABLE     "sstop.bmp"
IDB_BMPRUN              BITMAP  DISCARDABLE     "srun.bmp"
IDB_BMPHEADER           BITMAP  DISCARDABLE     "apache_header.bmp"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APMONITORTITLE      "Apache service monitor"
    IDS_APMONITORCLASS      "ApacheServiceMonitorClass"
END
