# $Id: Configuration.tmpl,v 1.45 1996/10/22 00:03:06 jim Exp $
# Config file for the Apache httpd.

# Configuration.tmpl is the template for Configuration. Configuration should
# be edited to select the modules to be included as well as various flags
# for Makefile.

# The template should only be changed when a new system or module is added,
# or an existing one modified. This will also most likely require some minor
# changes to Configure to recognize those changes.

# There are 4 types of lines here:

# '#' comments, distinguished by having a '#' as the first non-blank character
#
# Makefile options, such as CC=gcc, etc...
#
# Rules, distinquished by having "Rule" at the front. These are used to
# control Configure's behavior as far as how to create Makefile.
#
# Module selection lines, distinguished by having 'Module' at the front.
# These list the configured modules, in priority order (highest priority
# first).  They're down at the bottom.


################################################################
# Makefile configuration
#
# These are added to the general flags determined by Configure.
# Edit these to work around Configure if needed. The EXTRA_* family
# will be added to the regular Makefile flags. For example, if you
# want to compile with -Wall, then add that to EXTRA_CFLAGS. These
# will be added to whatever flags Configure determines as appropriate
# and needed for your platform.
#
# You can also set the compiler and Optimization used here as well.
# Settings here have priority; If not set, Configure will attempt to guess
# the C compiler, and set OPTIM to '-O2'
#
EXTRA_CFLAGS=
EXTRA_LFLAGS=
EXTRA_LIBS=
EXTRA_INCLUDES=

#CC=
OPTIM=-O2
#RANLIB=

################################################################
# Rules configuration
#
# These are used to let Configure know that we want certain
# functions. The format is: Rule RULE=value
#
# At present, only the following RULES are known: WANTHSREGEX, SOCKS4,
# STATUS, BADMMAP and IRIXNIS.
#
# For all Rules, if set to "yes", then Configure knows we want that
# capability and does what is required to add it in. If set to "default"
# then Configure makes a "best guess"; if set to anything else, or not
# present, then nothing is done.
#
# SOCKS4:
#  If SOCKS4 is set to 'yes', be sure that you add the sock library
#  location to EXTRA_LIBS, otherwise Configure will assume
#  "-L/usr/local/lib -lsocks"
#
# STATUS:
#  If Configure determines that you are using the status_module,
#  it will automatically enable full status information if set
#  to 'yes'. If the status module is not included, having STATUS
#  set to 'yes' has no impact.
#
# IRIXNIS:
#  Only takes effect if Configure determines that you are running
#  SGI IRIX. If you are, and you are using NIS, you should set this
#  to 'yes'
#

Rule STATUS=yes
Rule SOCKS4=no
Rule IRIXNIS=no

# The following rules should be set automatically by Configure. However, if
# they are not set by Configure (because we don't know the correct value for
# your platform), or are set incorrectly, you may override them here.
# If you have to do this, please let us know what you set and what your
# platform is, by sending mail to apache-bugs@apache.org.
#
# WANTHSREGEX:
#  Apache requires a POSIX regex implementation. Henry Spencer's
#  excellent regex package is included with Apache and can be used
#  if desired. If your OS has a decent regex, you can elect to
#  not use this one by setting WANTHSREGEX to 'no' or commenting
#  out the Rule. The "default" action is "no" unless overruled
#  by OS specifics
#
# BADMMAP:
#  If you find that your OS can't cope with mmap (compiles OKAY but refuses
#  to run and moans "httpd: Could not mmap memory" .. or similar) set
#  this to 'yes'.

Rule WANTHSREGEX=default
Rule BADMMAP=default

################################################################
# Module configuration
#
# Modules are listed in reverse priority order --- the ones that come
# later can override the behavior of those that come earlier.  This
# can have visible effects; for instance, if UserDir followed Alias,
# you couldn't alias out a particular user's home directory.

# The configuration below is what we consider a decent default 
# configuration.  If you want the functionality provided by a particular
# module, remove the "#" sign at the beginning of the line. But remember, 
# the more modules you compile into the server, the larger the executable
# is and the more memory it will take, so if you are unlikely to use the
# functionality of a particular module you might wish to leave it out.

## Basic modules (i.e., generally useful stuff that works everyplace):
## You should probably not comment out any of these unless you know what it
## does and you know you won't need it.

Module mime_module         mod_mime.o
Module access_module       mod_access.o
Module auth_module         mod_auth.o
Module negotiation_module  mod_negotiation.o
Module includes_module     mod_include.o
Module dir_module          mod_dir.o
Module cgi_module          mod_cgi.o
Module userdir_module      mod_userdir.o
Module alias_module        mod_alias.o
Module env_module          mod_env.o
Module config_log_module   mod_log_config.o

## The asis module implemented ".asis" file types, which allow the embedding
## of HTTP headers at the beginning of the document.  mod_imap handles internal 
## imagemaps (no more cgi-bin/imagemap/!).  mod_actions is used to specify 
## CGI scripts which act as "handlers" for particular files, for example to
## automatically convert every GIF to another file type. mod_browser lets
## you set environment variables based on the User-Agent string; this is
## useful for conditional HTML, for example.

Module asis_module         mod_asis.o
Module imap_module         mod_imap.o
Module action_module       mod_actions.o
Module browser_module      mod_browser.o

## Optional modules for NCSA user-agent/referer logging compatibility
## We recommend, however, that you migrate to the configurable logging
## module, below.

# Module agent_log_module    mod_log_agent.o
# Module referer_log_module  mod_log_referer.o

## mod_rewrite allows for powerful URI-to-filename mapping, using
## regular expressions.

# Module rewrite_module      mod_rewrite.o

## cern_meta mimicks the behavior of the CERN web server with regards to 
## metainformation files.  

# Module cern_meta_module    mod_cern_meta.o

## The status module allows the server to display current details about 
## how well it is performing and what it is doing.  Consider also enabling 
## STATUS=yes (see the Rules section near the start of the file) to allow
## full status information.  Check conf/access.conf on how to enable this.

# Module status_module	     mod_status.o

## The Info module displays configuration information for the server and 
## all included modules. It's very useful for debugging.

# Module info_module         mod_info.o

## Optional authentication modules. 
##
## The anon_auth module allows for anonymous-FTP-style username/ 
## password authentication.

# Module anon_auth_module    mod_auth_anon.o

## db_auth and dbm_auth work with Berkeley DB files - make sure there
## is support for DBM files on your system.  You may need to grab the GNU
## "gdbm" package if not and possibly adjust EXTRA_LIBS. (This may be
## done by Configure at a later date)

# Module db_auth_module      mod_auth_db.o
# Module dbm_auth_module     mod_auth_dbm.o

## msql_auth checks against an MSQL database.  You must have MSQL installed
## and an "msql.h" available for this to even compile.  Additionally,
## you may need to add a couple entries to the EXTRA_LIBS line, like
##
##  -lmsql -L/usr/local/lib -L/usr/local/Minerva/lib
##
## This depends on your installation of MSQL. (This may be done by Configure
## at a later date)

# Module msql_auth_module    mod_auth_msql.o

## "digest" implements HTTP Digest Authentication rather than the less 
## secure Basic Auth used by the other modules.

# Module digest_module       mod_digest.o

## Outright experiments --- mod_dld defines commands which
## allows other modules to be loaded in at runtime, 

# Module dld_module	     mod_dld.o

## mod_usertrack.c is the new name for mod_cookies.c.  This module
## uses Netscape cookies to automatically construct and log accurate
## click-trails from Netscape cookies, for compatible clients who
## aren't coming in via proxy.   
##
## You do not need this, or any other module to allow your site
## to use Cookies.  This module is for user tracking only

# Module usertrack_module      mod_usertrack.o

## FastCGI is a high-performance alternative to CGI.  To develop a
## FastCGI application in your chosen language (Perl, C, etc.) you'll
## need a FastCGI library for that language; libraries, and complete
## information on FastCGI, are available from http://www.fastcgi.com/.

# Module fastcgi_module       mod_fastcgi.o

## Finally, the proxy module.  It's not as complete as it could
## be yet, so use at your own risk.

# Module proxy_module        modules/proxy/libproxy.a
